@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  background-color: #0c0c0c;
}

body {
  font-family: 'Kanit', sans-serif;
}

.hero-heading {
  background: linear-gradient(180deg, #646973 0%, #bbccd7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-circle {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #D7E2EA;

  border: 2px solid #D7E2EA;

  transition:
    transform 0.3s ease,
    background 0.3s ease,
    color 0.3s ease,
    box-shadow 0.3s ease;
}

.social-circle svg {
  width: 24px;
  height: 24px;
}

.social-circle:hover {
  transform: translateY(-4px);
  color: #ffffff;
  background: #8b2be2;
  box-shadow: 0 0 18px rgba(180, 0, 255, 0.5);
}
